$colorAccent: #0d6efd;

body{
    font-family: 'Rubik', sans-serif;
}

#img{
    background-image: url(./picture/audi2.jpg);
}
.banner{
    padding: 10px;
	background-color: black;
    opacity: 50%;
}
#bantxt{
    display: flex;
    color: white;
}
h1{
    width: 100%;
    text-align: right;
}

.g-3{
    padding: 48px;
}